In [21]:
from sqlalchemy.types import Date, DateTime, Integer, NVARCHAR
from sqlalchemy.sql import text
from sqlalchemy import create_engine
from urllib.parse import quote_plus

import pandas as pd


engine = create_engine('sqlite:///stocks.db', echo=False)
sqlite_connection = engine.connect()

# conn = st.experimental_connection('stocks_db', type='sql')

df1 = pd.DataFrame({'name' : ['User 4', 'User 5']})
df1.to_sql(name='users', con=sqlite_connection, if_exists='append')

# users = conn.query('select * from users')

2

'kx%40jj5%2Fg'

In [69]:
from src.get_data import stock_wide_format


stock_list = ['CTG', 'VCB', 'HPG', 'CTD', 'VIC', 'SAB', 'MWG','FPT','FRT'] 
stocks_df_pivot = stock_wide_format(stock_list)

2023-09-07 17:08:19,911 : INFO : data CTG from 2020-10-01 to 2023-09-07 have already cloned!
2023-09-07 17:08:20,380 : INFO : data VCB from 2020-10-01 to 2023-09-07 have already cloned!
2023-09-07 17:08:20,804 : INFO : data HPG from 2020-10-01 to 2023-09-07 have already cloned!
2023-09-07 17:08:21,177 : INFO : data CTD from 2020-10-01 to 2023-09-07 have already cloned!
2023-09-07 17:08:21,554 : INFO : data VIC from 2020-10-01 to 2023-09-07 have already cloned!
2023-09-07 17:08:22,081 : INFO : data SAB from 2020-10-01 to 2023-09-07 have already cloned!
2023-09-07 17:08:22,475 : INFO : data MWG from 2020-10-01 to 2023-09-07 have already cloned!
2023-09-07 17:08:22,710 : INFO : data FPT from 2020-10-01 to 2023-09-07 have already cloned!
2023-09-07 17:08:23,065 : INFO : data FRT from 2020-10-01 to 2023-09-07 have already cloned!

In [73]:
stocks_df_pivot

Symbols       CTG   VCB    HPG   CTD   VIC    SAB    MWG   FPT    FRT
date
2020-10-01  26.60  84.8  27.00  69.0  92.5  184.5  105.0  50.8  24.20
2020-10-02  26.95  84.0  26.70  68.7  94.0  184.5  104.0  50.3  24.10
2020-10-05  27.50  83.5  27.35  67.0  93.3  184.5  104.0  50.5  24.05
2020-10-06  27.20  83.9  28.25  64.5  91.8  186.3  105.2  50.5  24.45
2020-10-07  27.00  85.0  27.80  60.5  92.5  190.0  107.6  50.4  25.05
...           ...   ...    ...   ...   ...    ...    ...   ...    ...
2023-08-30  32.10  89.1  27.20  61.7  62.0  159.8   53.8  96.6  83.30
2023-08-31  32.45  89.1  27.60  63.1  62.1  158.0   53.8  96.7  83.50
2023-09-05  32.65  90.1  27.80  65.3  62.3  158.8   54.3  96.8  82.60
2023-09-06  32.65  90.2  29.00  67.0  61.6  159.0   55.0  99.0  84.80
2023-09-07  32.65  89.5  28.65  66.4  60.8  160.5   55.0  97.9  84.20

[733 rows x 9 columns]

In [75]:
stocks_df_pivot.to_sql(name='stock_price_pivot', con=sqlite_connection, if_exists='replace',
    method='multi', chunksize=60, dtype={
        'date': Date()
    })

733

In [76]:

stocks_df_pivot = pd.read_sql('''select * from stock_price_pivot;''', con=sqlite_connection)
stocks_df_pivot['date'] = pd.to_datetime(stocks_df_pivot['date'], format='%Y-%m-%d')
stocks_df_pivot.set_index('date', inplace=True)
stocks_df_pivot

              CTG   VCB    HPG   CTD   VIC    SAB    MWG   FPT    FRT
date
2020-10-01  26.60  84.8  27.00  69.0  92.5  184.5  105.0  50.8  24.20
2020-10-02  26.95  84.0  26.70  68.7  94.0  184.5  104.0  50.3  24.10
2020-10-05  27.50  83.5  27.35  67.0  93.3  184.5  104.0  50.5  24.05
2020-10-06  27.20  83.9  28.25  64.5  91.8  186.3  105.2  50.5  24.45
2020-10-07  27.00  85.0  27.80  60.5  92.5  190.0  107.6  50.4  25.05
...           ...   ...    ...   ...   ...    ...    ...   ...    ...
2023-08-30  32.10  89.1  27.20  61.7  62.0  159.8   53.8  96.6  83.30
2023-08-31  32.45  89.1  27.60  63.1  62.1  158.0   53.8  96.7  83.50
2023-09-05  32.65  90.1  27.80  65.3  62.3  158.8   54.3  96.8  82.60
2023-09-06  32.65  90.2  29.00  67.0  61.6  159.0   55.0  99.0  84.80
2023-09-07  32.65  89.5  28.65  66.4  60.8  160.5   55.0  97.9  84.20

[733 rows x 9 columns]

In [77]:
stocks_df_pivot.resample('M').last()

              CTG    VCB    HPG     CTD    VIC    SAB     MWG    FPT     FRT
date
2020-10-31  29.00   83.0  30.55   56.40  106.5  184.3  104.70   51.5   20.85
2020-11-30  33.50   93.0  35.50   64.20  103.9  191.5  116.00   55.4   23.75
2020-12-31  34.55   97.9  41.45   77.70  108.2  195.0  118.90   59.1   32.00
2021-01-31  30.50   93.0  39.15   74.00   99.4  161.7  132.70   62.7   26.20
2021-02-28  37.25   98.2  45.60   73.90  109.0  188.0  135.00   76.2   28.00
2021-03-31  40.15   94.8  46.80   72.90  117.9  180.0  129.70   77.7   30.45
2021-04-30  40.80  100.0  58.10   64.20  131.0  167.1  140.90   80.9   27.00
2021-05-31  53.10   98.6  52.70   62.00  117.5  155.5  138.50   97.9   24.90
2021-06-30  52.70  116.4  51.50   64.70  119.0  169.1  152.00   88.0   27.10
2021-07-31  34.40   98.0  47.30   63.00  107.2  159.0  164.10   94.0   37.45
2021-08-31  31.80   99.4  49.30   70.40   94.1  150.0  111.00   92.4   41.20
2021-09-30  30.40   97.2  52.90   68.10   88.0  156.4  127.80   93.0   47.55
2021-10-31  31.50   98.0  57.10   71.90   95.8  160.5  131.40   96.9   52.10
2021-11-30  33.55   98.9  48.95   80.00  105.0  154.0  138.90   97.1   58.00
2021-12-31  33.90   78.8  46.40  109.50   95.1  151.0  135.90   93.0  100.20
2022-01-31  36.90   89.0  42.20   99.00   97.0  148.7  132.50   89.5   87.70
2022-02-28  33.15   84.5  47.20   96.80   77.0  169.8  136.00   93.3  122.30
2022-03-31  32.45   82.1  45.10   96.60   81.2  159.0  145.80  107.0  150.10
2022-04-30  27.75   80.9  43.30   55.50   80.0  162.1  149.20  105.0  156.50
2022-05-31  27.90   78.9  34.70   54.40   78.8  153.5  144.90  109.9  123.90
2022-06-30  26.15   74.8  22.30   53.80   73.5  154.6   71.50   86.2   91.20
2022-07-31  27.20   74.7  21.50   60.30   64.0  180.0   61.00   83.5   72.00
2022-08-31  28.25   84.0  23.00   72.30   63.7  187.9   74.00   86.6   91.00
2022-09-30  23.20   73.2  21.20   57.70   55.0  185.0   64.00   80.5   73.30
2022-10-31  24.60   73.5  15.65   42.10   55.4  185.3   51.60   75.6   81.80
2022-11-30  27.25   81.0  18.40   35.00   69.6  180.0   44.10   74.6   71.00
2022-12-31  27.25   80.0  18.00   32.90   53.8  166.9   42.90   76.9   69.00
2023-01-31  30.50   91.9  22.10   39.30   57.1  189.0   46.50   83.5   73.80
2023-02-28  27.40   93.5  20.00   33.65   52.6  188.0   40.00   80.5   69.00
2023-03-31  29.20   91.4  20.80   43.70   55.0  184.7   38.55   79.1   61.00
2023-04-30  28.85   90.5  21.65   59.00   52.1  172.0   39.20   77.5   63.80
2023-05-31  28.00   94.0  21.20   64.00   52.0  158.0   39.20   84.1   63.70
2023-06-30  29.50  100.0  26.15   68.90   51.0  153.6   43.30   86.0   71.60
2023-07-31  30.00   91.6  28.20   71.90   55.1  156.8   53.70   85.6   76.40
2023-08-31  32.45   89.1  27.60   63.10   62.1  158.0   53.80   96.7   83.50
2023-09-30  32.65   89.5  28.65   66.40   60.8  160.5   55.00   97.9   84.20